<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#">Write Data Test</a>
                </li>
                <li>
                    <a href="/phil">Read Data Test</a>
                </li>
                <li>
                    <a href="/questions">Questions</a>
                </li>
                <li>
                    <a href="/imageupload">Upload an image</a>
                </li>
                <li>
                    <a href="/flamelink">Flamelink</a>
                </li>
                <li>
                    <a href="/carousel">Carousel</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <span class="glyphicon glyphicon-log-in"></span> Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid text-center">
    <div class="row content">
        <div class="col-sm-2 sidenav">
            <p>
                <a href="#">Link</a>
            </p>
            <p>
                <a href="#">Link</a>
            </p>
            <p>
                <a href="#">Link</a>
            </p>
        </div>
        <div class="col-sm-8 text-left">
            <router-outlet></router-outlet>
        </div>
        <div class="col-sm-2 sidenav">
            <div class="well">
                <p>ADS</p>
            </div>
            <div class="well">
                <p>ADS</p>
            </div>
        </div>
    </div>
</div>

<footer class="container-fluid text-center">
    <p></p>
</footer>